# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Build files
client/.next/
client/dist/
server/dist/

server/uploads 
server/converted

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env
client/.env
server/.env

# Cache & misc
.cache/
.DS_Store
.vscode/
.idea/
