/* coded by Shubham Amrawat  */
/* foundations */

* {
    margin: 0;
    padding: 0;
    font-family: "Franklin Gothic Medium", Arial, sans-serif;
}

body {
    background-color: #f2efe5;
}

/* Nav styling  */

nav {
    width: 100%;
    background-color: rgb(252, 253, 253);
   position: sticky;
   top: 0;
    
   
}

.navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Ensure vertical centering */
}

.branding-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 4rem;
    height: 4rem;
}

.logo-name a {
    text-decoration: none;
    color: #40679e;
    font-size: 1.8rem;
    font-weight: bolder;
}

.logo-name,
.logo-container {
    margin-left: 1rem;
}

/* ----------------------------------------Main links styling---------------------------------- */
.main-links-container {
    display: flex;
    align-items: center;
}


.links-subcontainer{
    display: flex;
    align-items: center;
}

.links-container ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.links-container a {
  text-decoration: none;
  color: #40679e;
  font-weight: bolder;
  font-size: 1.2rem;
  padding: 1.1rem;

}
.links-container a:hover {
  border-bottom: 2px solid #ff8911;
}


/* Login button stylings  */

.login-container button {
  color: #40679e;
  padding: 0.9em;
  width: 10rem;
  margin-right: 1rem;
  border: none;
  border-bottom: 2px solid #40679e;
  font-weight: bolder;
  font-size: 1.2rem;
  margin-left: 1rem;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #fba834;
  color: #000000;
  transition: 1s;
}


/*-------------------------------- Style for the dropdown menu -----------------------------------*/
.dropdown {
  position: relative;
}
.dropdown > a > i:nth-child(2){
    display: none;
}
.dropdown a:hover {          /* Hide the caret on regular links */
  border: none;
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #fff; 
  padding: 0.5rem;
  margin-left: 1rem;
  margin-top: 1rem;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-menu li a {
  display: block;
  color: #40679e; 
  text-decoration: none;
}

.dropdown-menu li a:hover {
  background-color: #ffffff; 
  border-bottom: 2px solid #ff8911;
  color: #605f5f;
  
}


.links-container .dropdown .dropdown-menu {
  display: none;
 
}

.links-container .dropdown:hover .dropdown-menu {
  display: block;
}

/* responsive section  */

.hamburger-icon {
  display: none; /* Hide initially */
  align-items: center;
  cursor: pointer;
  margin-right: 1rem;
  color: #40679e;
  font-size: 1.5rem;
}


@media screen and (max-width: 1008px) { 
 

  /* navigation section  */

 .hamburger-icon {
    display: flex; 
  }
  .links-container ul { 
    display: none; 
  }
  .links-container ul.open { 
    display: flex; /* Show when toggled */
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%; 
    height: 100vh;
    background-color: rgb(216, 221, 221);
    padding-top: 1rem;

    background-image: url(logos/cat.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  
    
  }
 
 
  .links-container a:hover{
    border-left: 2px solid #fba834;
    border-bottom: none;
  }
  .dropdown-menu li a:hover{
    border-left: 2px solid #fba834;
    border-right: 2px solid #fba834;

    border-bottom: none;
    transition: none;
  }
   .links-container ul.open {
    display: flex;     
    flex-direction: column; 
    align-items: flex-start;  /* Align items to the start */
     
  }
  
 
  .links-container ul.open .login-item {
    margin-top: auto;    /* Push the login item to the bottom */
    margin-bottom: 4.3rem;
  }

    .links-container ul.open .dropdown-menu {
    display: none;       /* Initial hidden state */
    position: absolute;
    z-index: 1;
    background-color: #fff; 
    padding: 0.5rem; 
    margin-top: 1rem;    /* Maintain some top margin */
    right: -10rem;       /* Position at the right edge of the dropdown button */
    top: -2.5rem;        /* Maintain alignment with the button's top edge */
    border-left: 1px solid #ddd;
  }

  .dropdown >a>i:first-child{
    display: none;
  }
  .dropdown > a > i:nth-child(2){
    display:inline ;
  }
  .login-container{
    padding-bottom: 1rem;
  }

  /* header-image section  */


}

/* ------------------------------Header and tagline sections -----------------------------------*/

.header-image-container{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    /* padding: 1rem; */
    margin: 0;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    border-bottom: 0.5px solid rgb(183, 183, 183);
}
.header-image{
    /* border: 1px solid red; */
    padding: 1.2rem;
    width: 40%;
    height: 40vh;
  
    
}
.header-image img{
    width: 100%;
    height:100% ;
    /* height: 100px; */
}
.brand-tagline{
    /* border: 1px solid red; */
    width: 45% ;
    padding: 0.5rem;
    text-overflow: ellipsis;
    margin: 0;
}

.brand-tagline h1{
    font-size: 4.5vw;
    
    margin: 0;
    color: #ff8911;
    font-style: italic;
    
    /* width: 100%; */
}

.typewriter-text{
    border-right: 5px solid #40679e;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
            typing 2s steps(23),
            cursor .4s step-end infinite alternate;

}
/* cursor blinking */

@keyframes cursor{
    50%{
        border-color: transparent;
    }
}

/* typing effect */

@keyframes typing{
    from{
        width: 0;
    }
}


/* conversion section styling  */

.main-cards-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}
.main-cards-heading{
  color:#4f4e4e;
}
.cards-layout{
  display: flex;
  justify-content: space-evenly;
 
}
.individual-cards{
  display: flex;
  flex-direction: column;
  width: 13%;
  gap: 0.7rem;
  border: 0.1px solid rgb(202, 196, 196) ;
  border-radius: 0.4rem;
  padding: 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.cards-body{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  
}
.cards-body h3{
  font-size: 1rem;
  color: #4f4e4e;
}
.cards-body p{
  text-wrap:wrap;
  color: #40679e;
}
.cards-icons{
   display: flex;
   gap: 1rem;
   
    justify-content: center;
    font-size: 1.8rem;
  color: #4f4e4e;

}

.convert-button{
  display: flex;
  justify-content: center;
  margin-bottom: -0.5rem;
  

}
.convert-button a{
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0.5rem;
  color: #ff8911;

}
.convert-button :hover{
  background-color: #fba834;
  color: #4f4e4e;
}

.individual-cards:hover{
  translate: -1px -10px;
  transition: 1s;
  /* cursor: pointer; */
}

/* adding responsiveness to popular conversion section */

@media screen and (max-width: 950px) {
  .cards-layout{
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }

  .individual-cards{
    flex: 0 0 30%;
    width: auto;
  }
}

@media screen and (max-width: 500px) { /* Adjust breakpoint as needed */
  .individual-cards {
    flex: 0 0 95%; /* One card per row */
    
    
  }
  .cards-layout{
  
    padding: 5rem;
  }

  /* ... Font-size adjustments from the previous answer ... */ 
}